*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    width: 80%;
    height: 60px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}
.site-banner, .site-banner_account, .site-banner_sponsor{
    display: flex;
    height: 100%;
    align-items: center;
}
.site-banner_account li, .first a{
    margin: 0px 15px;
    font-size: 16px;
}
.site-banner_account{
    padding: 0px 20px 0px 0px;
}
.site-banner_sponsor{
    padding: 0px 0px 0px 50px;
}
nav{
    height: 120px;
    width: 80%;
    /* background-color: green; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 10px; */
}
.imags1, .imags1a, .imags2{
    display: flex;
    height: 80px;
    align-items: center;
}
.imags1a a,  .imags2 .searchs{
    margin: 0px 0px 0px 35px;
}
.imags1a li{
    font-family:'Poppins', sans-serif;
    color: blue;
    font-weight: bold;
    font-size: 17px;
}
.imags1 img{
    width: 10%;
}
.imags2a .searchs{
    display: flex;
    align-items: center;
    margin: 0px 40px;
}
.boxs{
    height: 120px;
    width: 120px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxs p{
    /* padding-top: 50px; */
    display: block;
    text-align:  center;
    color: white;
}
