*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}
nav{
    width: 90%;
    height: 100px;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav ul a li{
    padding: 0px 15px;
    color: gray;
    font-family: 'Ysabeau SC', sans-serif;
}
#boldText{
    font-weight: bold;
    color: blue;
    font-family: 'Oswald', sans-serif;
}
nav #btn button{
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    margin: 0px 10px;
}
